chess/__pycache__/__init__.cpython-311.pyc
chess/__pycache__/admin.cpython-311.pyc
chess/__pycache__/apps.cpython-311.pyc
chess/__pycache__/models.cpython-311.pyc
chess/__pycache__/signals.cpython-311.pyc
chess/__pycache__/urls.cpython-311.pyc
chess/__pycache__/views.cpython-311.pyc
chess/migrations/__pycache__/__init__.cpython-311.pyc
chess/migrations/__pycache__/0001_initial.cpython-311.pyc
chesssite/__pycache__/__init__.cpython-311.pyc
chesssite/__pycache__/settings.cpython-311.pyc
chesssite/__pycache__/urls.cpython-311.pyc
chesssite/__pycache__/wsgi.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/forms.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/__pycache__/urls.cpython-311.pyc
users/__pycache__/views.cpython-311.pyc
users/migrations/__pycache__/__init__.cpython-311.pyc
db.sqlite3
