{% extends "base_generic.html" %}

{% block content %}
<form class="register" method="post" action="{% url 'users:register' %}">
  {% csrf_token %}
  {% for field in form %}
  
  <div class="row mb-3">
    {{ field.label_tag}} <br>
    {{ field }}
    {% for error in field.errors %}
      <p style="color: red"> {{error}} </p>
      {% endfor %}
  
  </div>
  {% endfor %}
  
    <div class="text-end">
      <a href="{% url 'chess:chess' %}" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>
{% endblock %}